google-play-scraper==1.2.7
numpy==2.2.6
pandas==2.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
google-play-scraper

beautifulsoup4==4.12.2
requests==2.31.0
spacy
scikit-learn
matplotlib
seaborn
textblob
transformers
torch
pytest
oracledb
